body {
    overflow-x: hidden
}

.ban-slide-1 {
    background-image: url(../images/banners/01.jpg)
}

.ban-slide-2 {
    background-image: url(../images/banners/02.jpg)
}

.pattern-layer {
    background-image: url(../images/banners/pattern-11.png)
}

.pattern-dots {
    background-image: url(../images/banners/dots.png)
}

.service-bg {
    background-image: url(../images/banners/03.jpeg)
}

.service-bg1 {
    background-image: url(../images/service/bluebg.png)
}

.bg-3 {
    background-image: url(../images/service/bg3.png)
}


.bg-theme {
    background: #1a5ea3
}

/* .theme-color {
    color: #1a5ea3 !important
} */

.bg-trans {
    background-color: transparent !important
}

.feature-sec {
    padding-top: 70px;
    padding-bottom: 70px
}

.pad-left-0 {
    padding-left: 0
}

.pad-right-0 {
    padding-right: 0
}

.text-container {
    padding-top: 25px;
}

.text-container-2 {
    padding-top: 70px;
    /* padding-left: 0px; */
    /* padding-right: 50px; */
}

.text-container .sec-title {
    margin-bottom: 15px
}

.text {
    font-size: 20px !important;
    line-height: 1.7 !important;
}

.text-high {
    font-size: 25px !important;
    line-height: 35px !important;
    font-weight: 600;
    color: black;
}

.testimonial-block-two .inner-box .upper-box .author-image:before {
    border-color: #fff
}

.pricing-section .image-layer {
    background-image: url(../images/banners/06.jpeg)
}

.client-img {
    height: 100px
}

.main-footer {
position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/banners/07.jpeg) center center no-repeat;
    background-size: cover;
    padding-top: 100px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
        opacity: .6
    }
}

.list-link li a:hover,
.main-footer .logo-widget .social-links a:hover {
    color: #ff0000 !important
}

.red-color {
    color: #ff0000 !important
}

.copy-link {
    color: #ff4c4c !important
}

.copy-link:hover {
    color: #ff0000 !important
}

.pricing-section .image-layer {
    height: 600px !important
}

.add-link li {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    padding-bottom: 10px
}

.add-link li {
    padding-left: 40px;
    position: relative
}

.add-link .pp-1:before {
    content: "\f115";
    font-family: Flaticon;
    font-size: 25px;
    color: #ff4c4c !important;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0
}

.add-link .pp-2:before {
    content: "\f1ae";
    font-family: Flaticon;
    font-size: 25px;
    color: #ff4c4c !important;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0
}

.add-link .pp-3:before {
    content: "\f1ac";
    font-family: Flaticon;
    font-size: 25px;
    color: #ff4c4c !important;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0
}

::-webkit-input-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}

::placeholder {
    color: #fff
}

.about-pt li {
    padding-left: 40px;
    position: relative;
    font-size: 18px;
    line-height: 25px
}

.about-pt li:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/point.png);
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 5px
}

.about-pt-2 li {
    padding-left: 40px;
    position: relative;
    font-size: 18px;
    line-height: 25px
}

.about-pt-2 li:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/point2.png);
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 5px
}

.about-pt-3 li {
    padding-left: 40px;
    position: relative;
    font-size: 16px;
    line-height: 25px;
}

.about-pt-3 li:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/resources/tick.png);
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 5px
}

.info-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/service/child-support-4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.cus-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/service/child-custody-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.div-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/service/divorce-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.enf-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/service/enf-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.red-clr {
    color: #ff4c4c !important
}

.text-my {
    font-size: 20px;
    line-height: 30px
}

.about-bgg {
    background: url(../images/banners/award-2.jpg);
    background-position: center;
    background-size: cover;
    height: 700px
}

.sidebar .newsletter-box input::-webkit-input-placeholder {
    color: #000 !important
}

.my-control {
    display: table;
    width: 100%
}

.my-control .coll {
    display: table-cell
}

.user-drop li {
    border-bottom: 2px solid #fff
}

@media (min-width:300px) and (max-width:600px) {
    .mob-h {
        display: none !important
    }

    .ml-10

 {
    margin-left: 0rem;
}

    .text-new {
    color: #1A5EA3;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 31px;
    padding-right: 30px;
    padding-left: 30px;
}
    .pricing-section .image-layer {
        height: 1750px !important
    }

    .text {
        padding-right: 20px !important;
        padding-left: 20px !important
    }

    .text-high {
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 20px !important
    }

    .about-pt li,
    .about-pt-2 li,
    .about-pt-2 li {
        margin-right: 50px !important;
        margin-left: 50px !important
    }

    .my-head,
    .my-txttt {
        text-align: center !important
    }

    .my-texttt .text,
    .my-texttt .text-high {
        padding-right: auto !important;
        padding-left: auto !important
    }

    .exttt {
        height: 0px !important
    }

    .pricing-section .image-layer {
        height: 1000px !important;
        background-repeat: no-repeat !important;
        background-size: cover !important
    }

    .service-bg {
        background-position-x: -800px !important;
        background-size: cover !important
    }

    .main-slider-two .owl-nav {
        top: 70% !important
    }

    .main-slider-two .video-box {
        left: 80% !important
    }

    .main-header .header-top {
        display: none !important
    }

    .text-container-2 {
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 50px !important
    }

    .text-container {
        padding-top: 0px !important
    }

    .benefits-section {
        padding-top: 50px !important;
        padding-bottom: 50px !important
    }

    .benefits-section .images-column .image {
        text-align: center;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 20px
    }

    .about-section {
        padding-top: 20px
    }

    .sec-title-2 {
        margin-bottom: 0
    }
}